# Debug and Release directories
Debug/
Release/

# Browsing database
*.sdf
*.opensdf

# NuGet packages directory
packages/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Configuration file with account name and master key
git rm --cached /test/account_configuration.txt
